<%= "Personal profiles"%>
<div class="text-blue-700 hover:text-blue-600 font-bold text-xl">
  <% @solved_card.try(:each) do |record|%>
    <p><%= record.card.board.id %></p>
    <p><%= record.card.id %></p>
    <p><%= record.card.title %><p>
    <p><%= record.card.level %></p>
    <p><%= record.card.tags %></p>
  <% end %>
</div>
<br>
<div class="text-blue-700 hover:text-blue-600 font-bold text-xl">
  <%= link_to "所有的board", boards_path %>
  <% @user.boards.try(:each) do |board|%>
    <p><%= board.id %></p>
    <p><%= board.language %></p>
    <p><%= board.description %></p>
    <p><%= board.title %></p>
  <% end %>
</div>

