<div id="main">
  <div id="content">
  <% content_for :devise_form do %>

    <h2 class="heading text-4xl font-bold pt-4 mb-8">Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="mb-6">
      <%= f.label :email, class:"label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
    </div>

    <div class="mb-6">
      <%= f.label :password, class:"label" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
    </div>

    <div class="mb-6 flex items-center justify-between">
      <div class="flex items-center">
        <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me, class:"leading-tight h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" %>
          <%= f.label :remember_me, class:"ml-2 font-medium text-gray-500 hover:text-gray-700 focus:outline-none focus:underline transition ease-in-out duration-150" %>
        <% end -%>
      </div>
      <div class="text-sm leading-5">
        <%= link_to "Forgot your password??", new_password_path(resource_name), class: "font-medium text-gray-500 hover:text-gray-700 focus:outline-none focus:underline transition ease-in-out duration-150" %>
      </div>
    </div>
    <div class="mb-6">
      <%= f.submit "Login in", class: "btn btn-default block w-full rounded-md shadow-sm" %>
    </div>

    <div class="mb-6">
      <div class="relative">
        <div class="absolute inset-0 flex items-center">
          <div class="w-full border-t border-gray-300"></div>
        </div>
        <div class="relative flex justify-center text-sm leading-5">
          <span class="px-2 bg-white text-gray-500">
            Or continue with
          </span>
        </div>
      </div>
    </div>
    <div class="mb-6 grid grid-cols-2 gap-2">
      <div>
        <span class="w-full inline-flex rounded-md shadow-sm">
          <a class="w-full inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md rounded-lg  bg-white text-sm leading-5 font-medium focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition  duration-150 ease-in-out" href="/users/auth/github">
            <%= render_svg 'icons/github' , styles: "fill-current w-6 h-6"%>
          </a>
        </span>
      </div>
      <div>
        <span class="w-full inline-flex rounded-md shadow-sm">
          <a class="w-full inline-flex justify-center py-2 px-4 border border-gray-300 rounded-lg bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition duration-150 ease-in-out" href="/users/auth/google_oauth2">
            <%= render_svg 'icons/google' , styles: "fill-current w-6 h-6 mr-2"%>
          </a>
        </span>
      </div>
    </div>
  <% end %>
  <div>
  <hr class="border-b border-gray-300 mb-2" />
</div>

<%= render "devise/shared/links" %>
<% end %>

<%= render "devise/shared/form_wrap" %>
