<h1>新增題組</h1>

<%= form_with model: @board, local: true do |f| %>

<% if @board.errors.any? %>
  <ul>
    <% @board.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

  <%= f.text_field :user %>
<div>
  <%= f.label :title, '名稱'%>
  <%= f.text_field :title %>
</div>

<div>
  <%= f.label :description, '簡介' %>
  <%= f.text_area :description %>
</div>

<div>
  <%= f.label :language, '程式語言' %>
  <%= f.text_field :language %>
</div>

<%= f.submit '送出' %>

<% end %>