<h1><%= @board.title %></h1>
<ul>
  <li>題目描述：<%= @board.description %></li>
  <li>程式語言：<%= @board.language %></li>
  <% @board.cards.each do |card| %>
  <li>
    Q：<%= card.title %> |
    <%= link_to '編輯卡片', edit_board_card_path(@board.id, card.id) %>
    <%= link_to '刪除卡片', board_card_path(@board.id, card.id), method: :delete %>
  </li>
  <% end %>
  <%= link_to '出題', new_board_card_path(@board.id) %>
</ul>