
<div class="grid grid-cols-2 mx-1 my-2 px-3 py-3 border-b">
  <div class="col-auto ">  
    <h1 class="text-gray-900 font-bold text-xl "><%= @board.title %></h1>
  </div>
  <div class="col-auto">  
    <%= link_to '新增Card', new_board_card_path(@board.id), class: 'bg-blue-500 hover:bg-blue-700 text-white py-2 px-3 rounded' %>
  </div>
  <p class="text-gray-600 text-xs"><%= @board.description %></p>
  <p class="text-gray-600 text-m"><%= @board.language %></p>
</div>


<ul>
  <li</li>
  <% @board.cards.each do |card| %>


  
  <div class="grid grid-cols-2 mx-1 ml-6 my-2 px-3 py-3">

    <div class="col-auto">
      <p class="text-gray-900 font-bold text-xl "><%= card.title%></p>
    </div>

    <div class="col-auto">
      <%= link_to '編輯', edit_board_card_path(@board.id, card.id), class: 'bg-orange-500 hover:bg-orange-700 text-white py-2 px-3 rounded' %>
      <%= link_to '刪除', board_card_path(@board.id, card.id), method: 'delete', class: 'bg-red-500 hover:bg-red-700 text-white py-2 px-3 rounded' %>
    </div>

  </div>

  <% end %>
</ul>