<h1 class="text-gray-900 font-bold text-xl border-b">作答 Card</h1>

<%= form_with model: @card, url: board_cards_path , local: true do |f| %>

  <% if @card.errors.any? %>
    <ul>
        <% @card.errors.full_messages.each do |message| %>
          <li class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert"><%= message %></li>
        <% end %>
    </ul>
  <% end %>

  <div class="flex p-4">

    <div class="w-1/8">

    <p><%= @card.title %></p>
    <section><%= @card.description %></section>
    <span><%= @card.level  %></span>
    <span><%= @card.tags  %></span>
    
      <div>
      
        <%= f.label :default_code, '預設程式碼', class: 'block uppercase tracking-wide text-gray-700 text-m font-bold mt-5 mb-3'%>
       <%= f.text_area :default_code, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
        
        <div id="editorRubyRecord" class="editor"></div>

      </div>
    


  <%= f.submit '送出', class: 'bg-blue-500 hover:bg-blue-700 text-white py-2 px-3 rounded my-5' %>

<% end %>

<script>

$(document).ready(function() {
    setupEditorRubyRecord();
});
</script>