<div id="part-board" class="border-b">

  <Section class="flex">

     
    <p class="flex-grow text-xl text-gray-900">
      <span class="text-white bg-blue-500">
        <%= @board.language %>
      </span>
      <span><%= @board.title %></span>
    <p class="text-xs text-gray-600">
      <span>by </span>
      <%=@board.user.email.split("@")[0]%>
      <i class="fa fa-user"></i> 
    </p>

  </section>
    <div class="flex flex-grow">
      <p class="w-8 inline-block">
        <% if @board.user == current_user %> 
          <%= link_to(edit_board_path(@board.id), :class => 'w-2 text-orange-500 hover:text-orange-700 text-white py-1 px-2 rounded') do %>
            <i class="btn-edit fa fa-pencil-square"></i>
          <% end %>
        <% end %>
      </p>
      <p class="text-s text-gray-600"><%=@board.description%>

    </div>

</div>
