<div id="part-board" class="border-b ">

  <div class="one-board flex border-t border-b mt-12 rounded">
  
    <div class="absolute -mt-2 -ml-2">

      <span class="bg-gray-600 text-white py-1 px-2 text-s text-right">
        <%= @board.language%>
      </span>

    </div>
      
    <div class="w-full ml-8 px-6">

      <div class="w-full flex">
        <div class="w-full mt-1">
          <p class="pt-5 pb-1 block w-full text-blue-700 font-bold text-xl">
            <span class="-ml-8 mr-2">
              <i class="fa fa-files-o"></i>
            </span>
            <span><%= @board.title %></span>
          </p>
        </div>
      </div>
                  
      <div class="w-full mb-6">

        <p class="text-gray-600 text-sm leading-relaxed">
          <% if @board.description %>
            <%= @board.description%>
          <% end %>
        </p>
          
        <p class="text-xs text-gray-600 mt-2">

          <% if @board.cards.length %>

            <span class=" inline-block text-gray-600 mr-6">
              <%  cards_length = @board.cards.length %>
              <% if action_name=="new" %>
                <%  cards_length = @board.cards.length - 1 %>
              <% end %>
              共 <%= cards_length %> 題
            </span>
            
            <span class="">
              <i class="fa fa-user"></i>
              by <%=@board.user.email.split("@")[0]%>
            </span>
          
          <% end %>
          
        </p>

      </div>
      
    </div>

    <% if user_authority ==  "author" %>

      <div class="w-auto pt-4 pr-4">

        <div class="part-btns hover text-right">
            <%= link_to(edit_board_path(@board.id), 
                        :class => 'w-2 text-orange-500 hover:text-orange-700 text-white py-1 mr-1') do %>
              <i class="btn-edit fa fa-pencil-square text-3xl"></i>
            <% end %>
            <%= link_to(board_path(@board.id),method: 'delete',data: {confirm: 'Are you sure ?!'}, 
                        :class => 'w-2 text-red-500 hover:text-red-700 text-white py-1 rounded mr-1') do %>
              <i class="btn-del fa fa-window-close text-3xl"></i>
            <% end %>
         
        </div>

        <div>
          <p class="text-right my-4 block whitespace-no-wrap">
            <%= link_to(new_board_card_path(@board.id), 
                        :class => 'bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded') do %>
              <span class="">
                <i class="fa fa-plus mr-2"></i>Card
              </span>
            <% end %>
          </p>
        </div>

      </div>

    <% end %>

  </div>