<p>//解題者(未解題)-解題中頁面//</p>






<div class="grid grid-rows-3 grid-flow-col gap-4">
  <div class="row-span-3 bg-orange-100">
    <%= render "cards/list_solver" %>

  </div>
  <div class="row-span-1 col-span-2">
  







<h1 class="text-gray-900 font-bold text-xl border-b">[解題]<%= @card.title %></h1>

<div class="flex container">
  
  <div class="part-slider w-1/4 border-r">
    <%= render "nav_cards_list" %>
  </div>

  <div class="part-card px-4 w-3/4">
    <%= form_with model: @card, url: solve_board_card_path, method: :patch, local: true do |f| %>
      <% if @card.errors.any? %>
        <ul>
          <% @card.errors.full_messages.each do |message| %>
            <li class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert"><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <div class="shadow border rounded  py-3 my-3">
        <div class="mg-0 leading-loose border-b">
          <h1 class="text-gray-900 font-bold text-2xl border-b px-2">
            <span class="mr-1"><%= @card.order %></span><%= @card.title %>
          </h1>
        </div>
        <div class="py-3 px-5">
          <p>
            <span class="inline-block border-grap-700 text-grap-900 px-2 py-1 border rounded text-sm text-white bg-gray-700"><%= @card.level %></span>    
            <span class="inline-block border-grap-700 text-grap-900 px-2 py-1 border rounded text-sm text-white bg-gray-700"><%= @card.tags %></span>    
          </p>
        </div>
        <div class=" px-4 py-1 my-4">
          <section><%= @card.description %></section>
          <div id="section-hints" class="">
            <% if @card.hints %>
              <input id="btn-show-hints" type="button" value="求提示(<%= @card.hints.length %>)" class="bg-orange-500 hover:bg-orange-700 text-white py-2 px-3 rounded my-5">
              <ul>
                <% @card.hints.each do |hints| %>
                  <li class="hint hidden"><%= hints %></li>
                <% end %>
              </ul>
            <% else %>
              <span class="cursor-not-allowed bg-gray-500 text-white py-2 px-3 rounded my-5">(無提示)</span> 
            <% end %>
          </div>
        </div>
      </div>

      <div class="shadow border rounded my-5">
        <div class="mg-0 leading-loose border-b">
          <%= f.label :code, 'Your answer', class: 'block w-100 px-5 text-gray-600'%>
        </div>
        <div class="px-4 py-1 my-4">
          <%= f.hidden_field :default_code, id: "default_code" %>
          <div solving class="editor" data-target="default_code"></div>
          <div class="">
            <%= f.submit 'Run',id: 'btn-card-submit', class: 'bg-blue-500 hover:bg-blue-700 text-white py-2 px-3 rounded my-5' %>
            <div id="run-result" class="block min-h-2 px-3 py-2 text-white bg-black">
              <% @result.try(:each) do |result| %>
                <div><%= result %></div>
              <% end %>
           </div>
          </div>
        </div>
      </div>

      <div class="my-5">
        <%= f.submit '送出',id: 'btn-card-submit', class: 'bg-blue-500 hover:bg-blue-700 text-white py-2 px-3 rounded my-5' %>
      </div>

    <% end %>
</div>

<div class="container mx-auto flex ">
  
  <div class="part-slider" class="flex-1">
    <%= render "cards/list_solver" %>
  </div>

  <div class="part-card"  class="flex-2 ">
    <h1 class="text-gray-900 font-bold text-xl border-b">[解題]<%= @card.title %></h1>
    <%= form_with model: @card, url: board_cards_path , local: true do |f| %>
        <% if @card.errors.any? %>
          <ul>
            <% @card.errors.full_messages.each do |message| %>
              <li class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert"><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      
        <div>
          <p><%= @board.title %></p>
          <p>第<%= @card.order %>關</p>
          <p>Level:<%= @card.level %></p>
          <p>tags<%= @card.tags %></p>    
        </div>

        <div>
          <%= f.label :description, '題目敘述', class: 'block w-100 uppercase tracking-wide text-gray-700 text-m font-bold mt-5 mb-3'%>
          <%= @card.description %>
        </div>

      <div>
        <%= f.label :default_code, '作答區', class: 'block w-100 uppercase tracking-wide text-gray-700 text-m font-bold mt-5 mb-3'%>
        <%= f.hidden_field :default_code, id: "default_code" %>
        <div solving class="editor" data-target="default_code"></div>
        <div>
          <span>印出結果：</span>
          <div id="run-result" class="px-3 py-2"><%= @result %></div>
        </div>
      </div>
      
      <div id="section-hints">
        <input id="btn-show-hints" type="button" value="求提示" class="bg-orange-500 hover:bg-orange-700 text-white py-2 px-3 rounded my-5">
        <% @card.hints.each do |hints| %>
          <ul>
            <li class="hint hidden"><%= hints %></li>
          </ul>
        <% end %>
      </div>

      <div>
        <%= f.submit '送出',id: 'btn-card-submit', class: 'bg-blue-500 hover:bg-blue-700 text-white py-2 px-3 rounded my-5' %>
      </div>

    <% end %>
</div>

