<p class="absolute right-0 text-xs text-gray-600">//解題者(已解題)-檢視頁面//</p>

<div class="flex container">
  
  <div class="part-slider w-1/4 border-r">
    <%= render "nav_cards_list", nowCard: @card.id  %>
  </div>

  <div class="part-card px-4 w-3/4">
    <%= form_with model: @card, url: solve_board_card_path, method: :patch, local: true do |f| %>

      <div class="shadow border rounded  py-3 my-3">
        <div class="mg-0 leading-loose border-b">
          <h1 class="text-gray-900 font-bold text-2xl border-b px-2">
            <span class="mr-1"><%= @card.order %></span><%= @card.title %>
          </h1>
        </div>
        <div class="py-3 px-5">
          <p>
            <span class="inline-block border-grap-700 text-grap-900 px-2 py-1 border rounded text-sm text-white bg-gray-700"><%= @card.level %></span>    
            <span class="inline-block border-grap-700 text-grap-900 px-2 py-1 border rounded text-sm text-white bg-gray-700"><%= @card.tags %></span>    
          </p>
        </div>
        <div class=" px-4 py-1 my-4">
          <section><%= @card.description %></section>
          <div id="section-hints" class="">
            <% if @card.hints %>
              <input id="btn-show-hints" type="button" value="求提示(<%= @card.hints.length %>)" class="bg-orange-500 hover:bg-orange-700 text-white py-2 px-3 rounded my-5">
              <ul>
                <% @card.hints.each do |hints| %>
                  <li class="hint hidden"><%= hints %></li>
                <% end %>
              </ul>
            <% else %>
              <span class="cursor-not-allowed bg-gray-500 text-white py-2 px-3 rounded my-5">(無提示)</span> 
            <% end %>
          </div>
        </div>
      </div>

      <div class="shadow border rounded my-5">
        <div class="mg-0 leading-loose border-b">
          <%= f.label :code, 'Your answer', class: 'block w-100 px-5 text-gray-600'%>
        </div>
        <div class="px-4 py-1 my-4">
          <%= f.hidden_field :default_code, id: "default_code" %>
          <div class="editor readonly" data-target="default_code"></div>
          <div class="">
            <%= @result %> (result)
          </div>
        </div>
      </div>

      <div class="my-5">
        <%= f.submit '送出',id: 'btn-card-submit', class: 'bg-blue-500 hover:bg-blue-700 text-white py-2 px-3 rounded my-5' %>
      </div>

    <% end %>
</div>