<div class="mg-0 leading-loose">
<h1 class="text-gray-800 font-bold text-2xl px-2">
  <span class="mr-3"><%= @card.order %></span>
  <span class="text-2xl mb-3 font-semibold "><%= @card.title %></span>
</h1>

<div class="my-2">
    <span class="mr-4 bg-transparent text-blue-700 font-semibold py-1 px-2 border border-blue-500 rounded">
      <%= @card.level %>
    </span>
    <% @card.tags&.each do |tag| %>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-0 text-sm font-semibold text-gray-700 mr-2">
        <%= tag %>
      </span>    
    <% end %>
</div>
  <p>
  </p>
</div>



<div class="">
  <section id="card-description" class="">
    <%= @card.description %>
  </section>
  <hr/>
</div>
