<div class="mg-0 leading-loose">
  <h1 class="text-gray-900 font-bold text-2xl px-2">
    <span class="mr-3"><%= @card.order %></span>
    <span class=""><%= @card.title %></span>
  </h1>
</div>

<div class="py-3 border-b">
  <p>
    <span class="inline-block border-grap-700 text-grap-900 px-2 py-1 border rounded text-sm text-white bg-orange-700">
      <%= @card.level %>
    </span>
    <% @card.tags&.each do |tag| %>
      <span class="inline-block border-grap-700 text-grap-900 px-2 py-1 border rounded text-sm text-white bg-gray-700">
        <%= tag %>
      </span>    
    <% end %>
  </p>
</div>

<div class="">
  <section id="card-description" class="">
    <%= @card.description %>
  </section>
  <hr/>
</div>
