<%= form_with model: @card, url: solve_board_card_path, method: :patch, local: true do |f| %>

       <div class="mg-0 leading-loose border-b">
          <h1 class="text-gray-900 font-bold text-2xl border-b px-2">
            <span class="mr-1"><%= @card.order %>  </span><%= @card.title %>
          </h1>
        </div>

        <div class="py-3 px-5">
          <p>
            <span class="inline-block border-grap-700 text-grap-900 px-2 py-1 border rounded text-sm text-white bg-orange-700">
              <%= @card.level %>
            </span>    
              

               <% if @card.tags %>
                <%  @card.tags.each do |tag| %>
                  <span class="inline-block border-grap-700 text-grap-900 px-2 py-1 border rounded text-sm text-white bg-gray-700">
                    <%= tag %>
                  </span>    
                <% end %>
              <% end %>


            </span>    
          </p>
        </div>

        <div class=" px-4 py-1 my-4">
          <section id="card-description"><%= @card.description %></section>
          <hr/>
          <div id="section-hints" class="">

            <% if @card.hints %>
              <span class="py-2 my-5">提示(<%= @card.hints.length %>):</span> 
              <ul>
                <% @card.hints.each do |hints| %>
                  <li class="hint"><%= hints %></li>
                <% end %>
              </ul>
            <% else %>

              <span class="cursor-not-allowed text-gray-500 py-2 px-3 my-5">(無提示)</span> 
            <% end %>
          </div>
        </div>

<% end %>