<%# 需要帶的變數： url %>
<%= form_with model: model, url: url, local: true do |f| %>
  
  <span id="board-lang" class="hidden"><%= @board.editor_mode %></span>

  <% if action_name=="new" %>
    <script>
      $( document ).ready(function() {
        $("#btn-add-test-code").click()
      });
    </script>
  <% end %>

  <% if @card.errors.any? %>
    <ul>
      <% @card.errors.full_messages.each do |message| %>
        <li class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert"><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div id="part-subject w-full mt-4 mb-6 pb-4 ">
    <%#= render "content_subject" %>
    <!--
    <h1 class="mt-2 mb-4 text-blue-700 font-bold text-l text-center py-2 -ml-20">
      <% case action_name %>
        <% when "new"%>
          <%="新建題目 (Card)"%>
        <% when "edit"%>
          <%="編輯題目 (Card)"%>
      <% end %>
    </h1>
    -->
    <div class="flex w-full mb-4">

      <% if action_name=="new"%>
        <%= f.text_field :order, readonly:'', required: true, value: @board.cards.length, 
                          class: ' mr-6 w-16 shadow appearance-none border rounded text-center py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-200' %>
      <% elsif %>
        <%= f.text_field :order, readonly:'', required: true, value: @card.order, 
                          class: ' mr-6 w-16 shadow appearance-none border rounded text-center py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-200' %>
      <% end %>

        <%= f.text_field :title, placeholder: '題目名稱',
                          class: 'flex-grow shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
    </div>

    <div class="flex w-full mb-4">
    
      <%= f.select :level, [['簡單','簡單'],['中等','中等'],['困難','困難']], {
                    include_blank: '難度'},{ 
                    class:"mr-6 shadow appearance-none border rounded w-auto py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", style: 'text-align-last: center'} %>

      <select name="card[tags][]" multiple= 'multiple', 
              class= 'select-tags flex-grow form-control tags_select2 shadow appearance-none border rounded w-2/6 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline',
              data-value='<%= f.object.tags.to_json %>',>
              <%= render "tags_option" %>
      </select>

    </div>
      
      <div class="flex w-full mb-4">

      
      </div>



  <div id="part-Question">
    <div class="flex">
      <div class="w-1/2 border-box pr-6">
        <%= f.label :description, '題目敘述', class: 'block uppercase tracking-wide text-gray-700 text-m font-bold mt-5 mb-3'%>
        <%= f.text_area :description,class: 'h-32 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>

      <div class="w-1/2">
        <div>
          <%= f.label :default_code, '預設程式碼', class: 'block uppercase tracking-wide text-gray-700 text-m font-bold mt-5 mb-3'%>
          <%= f.hidden_field :default_code, id: "default_code" %>
          <div class="editor" data-target="default_code"></div>

        </div>
      </div>

    </div>

    <div id="section-hints" class="">
      <section>
        <span id="btn-add-hints"><i class="fa fa-plus-circle hover:text-blue-700 text-blue-500 rounded-full text-2xl"></i></span>
        <%= f.label :hints, '提示', class: 'uppercase tracking-wide text-gray-700 text-m font-bold mt-5 mb-3'%>
      </section>

      <% if action_name=="new" %>
        <% params[:card].try(:[], :hints).try(:each) do |hint| %>
           <%= render "cards/data_hint",num: 1 ,hint: hint %>
        <% end %>
      <% else %>
        <% if @card.hints %>
            <% num = 0 %>
          <% @card.hints.each do |hint| %>
            <% num = num + 1 %>
            <%= render "cards/data_hint",num: num ,hint: hint %>
          <% end %>
        <% end %>
      <% end %>

    </div>
  </div>

  <div id="part-Answer">

    <div>
      <div>
        <%= f.label :answer, '定義解答', class: 'block uppercase tracking-wide text-gray-700 text-m font-bold mt-5 mb-3'%>
        <%= f.hidden_field :answer, id: "answer" %>
        <div class="editor" data-target="answer"></div>
        <div class="flex">
          <%= f.submit 'Run', id: 'btn-card-submit', 
                              class: 'm-auto mr-0 bg-blue-500 hover:bg-blue-700 text-white py-2 px-5 rounded my-5' %>
        </div>
      </div>
    </div>

  </div>

  <div id="part-test-run">

    <div class="w-100">
      <section>
        <span id="btn-add-test-code"><i class="fa fa-plus-circle hover:text-blue-700 text-blue-500 rounded-full text-2xl"></i></span>
        <%= f.label :test_code, '測試方法', class: 'uppercase tracking-wide text-gray-700 text-m font-bold mt-5 mb-3'%>
      </section>
    </div>

    <div class="flex">

      <div id="section-test-code" class="w-1/2">
        
        <% if action_name=="new" %>
          <% params[:card].try(:[], :test_code).try(:each) do |test_code| %>
            <%= render "cards/data_test_item",num: 1 ,test_code: test_code %>
          <% end %>
        <% else %>
          <% if @card.test_code %>
            <% num = 0 %>
            <% @card.test_code.each do |test_code| %>
              <% num = num + 1 %>
              <%= render "cards/data_test_item",num: num ,test_code: test_code %>
            <% end %>
          <% end %>
        <% end %>

      </div>
    
      <div class="w-1/2">
        <div id="run-result" class="">
          <div class="editor-readonly result">
            <% @result.try(:each) do |result| %>
              <section>
                <%= result %>
              </section>
            <% end %>
          </div>
        </div>
      </div>
      
    </div>

  </div>

  <div id="part-contorl" class="flex">
    <%= f.submit '送出',id: 'btn-card-submit', 
                        class: 'm-auto mr-0  bg-blue-500 hover:bg-blue-700 text-white py-2 px-5 rounded my-5' %>
  </div>

<%end%>