<%# 需要帶的變數： url %>
<%= form_with model: model, url: url, local: true do |f| %>

  <% if @card.errors.any? %>
    <ul>
      <% @card.errors.full_messages.each do |message| %>
        <li class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert"><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  
  <div class="flex p-4">

    <div class="w-1/8">

      <% if action_name == "new" || "edit"%>
        <%= f.text_field :order, readonly:'', required: true, value: @board.cards.length, class: 'shadow appearance-none border rounded w-16 text-center py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-200' %>
      <% else %>
        <span class=" block bg-gray-200 appearance-none border rounded w-auto mr-7 py-2 px-8 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          <%= @card.order%>
        </span>
      <% end %>
      </div>

      <div class="w-2/8">
        <%= f.select :level, [['簡單','簡單'],['中等','中等'],['困難','困難']], {include_blank: '選擇難度'},{ class:"shadow appearance-none border rounded w-auto py-2 px-8 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", style: 'text-align-last: center'} %>
      </div>

      <div class="w-full w-5/8">
        <%= f.text_field :title,placeholder: '題目名稱',class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
  </div>

  <div class="flex p-4">

    <select name="card[tags][]" multiple= 'multiple', 
            class= 'w-full form-control tags_select2 shadow appearance-none border rounded w-2/6 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' 
            data-value="<%= f.object.tags.to_json %>">
            <%= render "tags_ruby" %>

    </select>

  </div>

  <div class="mb-4">
    <div class="p-4">
      <div>
        <%= f.label :description, '題目敘述', class: 'block uppercase tracking-wide text-gray-700 text-m font-bold mt-5 mb-3'%>
        <%= f.text_area :description,placeholder: '題目敘述',class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>

      <div>
        <%= f.label :default_code, '預設程式碼', class: 'block uppercase tracking-wide text-gray-700 text-m font-bold mt-5 mb-3'%>
        <%= f.hidden_field :default_code, id: "default_code" %>
        <div class="editor" data-target="default_code"></div>
      </div>

      <div>
        <div id="section-hints">
          <section>
            <%= f.label :hints, '提示', class: 'uppercase tracking-wide text-gray-700 text-m font-bold mt-5 mb-3'%>
            <span id="btn-add-hints"><i class="fa fa-plus-circle hover:text-blue-700 text-blue-500 rounded-full text-2xl"></i></span>
          </section>

          <% if action_name=="new" %>
            <% params[:card].try(:[], :hints).try(:each) do |hint| %>
              <input name="card[hints][]" value="<%= hint %>">
            <% end %>
          <% else %>

            <% if @card.hints %>
              <% @card.hints.each do |hints| %>
                <input name="card[hints][]" value="<%= hints %>">
              <% end %>
            <% end %>

          <% end %>
          
        </div>
      </div>

    </div>

    <div class="p-4">
      <div>
        <%= f.label :answer, '出題者解答', class: 'block uppercase tracking-wide text-gray-700 text-m font-bold mt-5 mb-3'%>
        <%= f.hidden_field :answer, id: "answer" %>
        <div class="editor" data-target="answer"></div>
        <div class="">
          <%= f.submit 'run', id: 'btn-card-submit', class: 'bg-blue-500 hover:bg-blue-700 text-white py-2 px-3 rounded my-5' %>
          <div id="run-result" class="block min-h-2 px-3 py-2 text-white bg-black">
            <% @result.try(:each) do |result| %>
              <div><%= result %></div>
            <% end %>
          </div>
        </div>
      </div>

      <div>
        <div id="section-test-code">
          <section>
            <%= f.label :test_code, '測試方法', class: 'uppercase tracking-wide text-gray-700 text-m font-bold mt-5 mb-3'%>
            <span id="btn-add-test-code"><i class="fa fa-plus-circle hover:text-blue-700 text-blue-500 rounded-full text-2xl"></i></span>
          </section>



          <% if action_name=="new" %>
            <% params[:card].try(:[], :test_code).try(:each) do |test_code| %>
              <input name="card[test_code][]" value="<%= test_code %>">
            <% end %>
          <% else %>

              <% if @card.test_code %>
                <% @card.test_code.each do |test_code| %>
                  <input name="card[test_code][]" value="<%= test_code %>">
                <% end %>
              <% end %>
          <% end %>


        </div>
      </div>
      
    </div>

  </div>

  <%= f.submit '送出',id: 'btn-card-submit', class: 'bg-blue-500 hover:bg-blue-700 text-white py-2 px-3 rounded my-5' %>


<%end%>