<div class="part-board border-b py-3"> 
  <p class="text-xl text-gray-900"><%=@board.title%></p>
  <!--ToDo:Board.username-->
  <p class="text-s text-gray-600"><%=@board.description%></p>
</div>
<div class="part-carts-list">
  <div class="">
    <% @board.cards.each do |card| %>
      <p class="flex w-100">
       <span class="py-4 border-b w-12 m-0 p-0 text-blue-500 px-2 text-center"><%= card.order %></span>
       <%= link_to card.title, board_card_path(@board.id, card.id), 
                        class: 'border-b block w-full text-blue-700 hover:text-blue-500 hover:bg-gray-200 py-4 px-3' %>
                        <!--<i class="fa fa-chevron-right border-b text-blue-700 hover:text-blue-500 hover:bg-gray-200 py-4 px-3"></i>-->
      
        <span class="block">
          <%= link_to '編', edit_board_card_path(@board.id, card.id), 
                      class: 'w-2 bg-orange-500 hover:bg-orange-700 text-white py-1 px-2 rounded mr-1' %>
        </span>
        <span class="block">
          <%= link_to '刪', board_card_path(@board.id, card.id), method: 'delete', 
                      class: 'w-2 bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded' %>
        </span>
      </p>
      
    <% end %>
  </div>
</div>