 <div id="part-cards-list">

  

  <div class="">

      <% @board.cards.order(:order).each do |card|%>
      
        <section class="one-card flex w-100 relative">
          <% if card.id %>
            <%= link_to(board_card_path(@board.id, card.id), 
                    :class => "#{'active' if card.id == nowCard} flex border-b block w-full text-blue-700 hover:text-blue-500 hover:bg-gray-200 py-4 py-3") do %>
              <span class="arrow inline-block w-4 px-1 mx-2 -ml-6">
                <i class="fa fa fa-chevron-right text-blue-700 hover:text-blue-500 hover:bg-gray-200"></i>
              </span>
              <span>
                  <!--ToDo 判斷該卡是否解records.solved而顯示不同的icon
                  <% if user_authority !=  "author" %>
                    <i class="fa fa-file-o text-blue-700 hover:text-blue-500 hover:bg-gray-200"></i>
                  <% else %>
                    <i class="fa fa-file-text-o text-blue-700 hover:text-blue-500 hover:bg-gray-200"></i>
                  <% end %>
                  -->
              </span>
              <span class="w-8 inline-block font-semibold border-r  mr-2 text-blue-500 text-center"><%= card.order %></span>
              <span class="inline-block flex-grow"><%= card.title %></span>
            <% end %>
            <% if user_authority ==  "author" %>

              <div class="part-btns hover absolute my-4 pr-4 right-0">
                <%= link_to(edit_board_card_path(@board.id, card.id), 
                            :class => 'w-2 text-orange-500 hover:text-orange-700 text-white py-1 rounded mr-1') do %>
                  <i class="btn-edit fa fa-pencil-square text-3xl"></i>
                <% end %>
                <%= link_to(board_card_path(@board.id, card.id),method: 'delete',data: {confirm: 'Are you sure ?!'}, 
                            :class => 'w-2 text-red-500 hover:text-red-700 text-white py-1 rounded mr-1') do %>
                  <i class="btn-del fa fa-window-close text-3xl"></i>
                <% end %>
              </div>
            <% end %>
          <% end %>


      </section>
      
    <% end %>
  </div>
</div>