<span id="board-lang" class="hidden"><%= @board.editor_mode %></span>

<style>
  #btn-del-test-code{display:none;}
  input[name^="card[test_code]"]{
      disabled: true;
      pointer-events: none;
  }
</style>

  <div id="page-show-solved" class="container-full">  

    <div id="part-borard-info" class="w-full">
      <%= render "cards/banner_board_info" %>
    </div>

    <div class="flex w-full">

      <div id="part-cards-list" class="w-1/4  m-0 border-r">
        <%= render "cards/nav_cards_list", nowCard: @card.id  %>
      </div>

      <div id="part-card-content" class="w-3/4 m-0">

        <div id="content-subject" class="shadow border rounded mb-8">

          <div class="content-head border-b bg-gray-500 text-white py-2 font-bold rounded-t ">
            <p class="text-center">題目</p>
          </div>

          <div class="content-body p-5">

            <div class="w-full mb-4">
              <%= render "cards/content_subject" %>
              <div class="">
                <section class="text-gray-700 text-m font-bold mt-5 mb-3">
                  提示
                </section>
                  <div id="section-hints" class="">
                    <% if @card.hints %>
                      <input id="btn-show-hints" type="button" value="求提示(<%= @card.hints.length %>)" class="bg-orange-500 hover:bg-orange-700 text-white py-2 px-3 rounded my-5">
                      <ul>
                        <% @card.hints.each do |hints| %>
                          <li class="hint hidden"><%= hints %></li>
                        <% end %>
                      </ul>
                    <% else %>
                      <span class="cursor-not-allowed bg-gray-500 text-white py-2 px-3 rounded my-5">(無提示)</span> 
                    <% end %>
                  </div>
              </div>
            </div>

          </div>

        </div>

        <div id="content-answer" class="shadow border rounded mb-8">
          <div class="content-head border-b bg-gray-500 text-white py-2 font-bold rounded-t ">
            <p class="text-center">作答</p>
          </div>

          <div class="content-body p-5">

            <div class="w-full mb-4">

              <div class="mg-0 leading-loose">
                <label for="record_code" class="block w-100 px-5 text-gray-600">Your answer</label>
                <% label :code, 'Your answer', class: 'block w-100 px-5 text-gray-600'%>
              </div>
              <div class="px-4 py-1 my-4">
                <% hidden_field :code, id: "code" %>
                <input type="hidden" id="code" name="record[code]" value="<%= @record.code %>">
                <div solving class="editor readonly" data-target="code"></div>
                </div>
              </div>

            </div>

            <div id="part-test-run">   

              <div class="flex w-full px-4 py-1 my-2 -mt-1">
                <section class="w1/2 m-auto mt-6">
                  <label for="test_code" class="uppercase tracking-wide text-gray-700 text-m font-bold mt-5 mb-3">
                    測試方法 → 執行結果
                  </label>
                </section>
              </div>

              <div class="flex w-full mb-4 px-6 test-code-cover">

                <div class="w-1/2">
                  <div id="section-test-code">
                    
                      <% num = 0 %>
                      <% @card.test_code.each do |test_code| %>
                        <% num = num + 1 %>
                        <%= render "cards/data_test_item", num: num ,test_code: test_code %>
                      <% end %>
                 
                  </div>
                </div>

                 <div class="w-1/2">
                  <div id="run-result" class="">
                    <% num = 1 %>
                    <% if @card.result %>
                      <% @card.result.try(:each) do |result| %>
                        <div id="result<%= num %>" class=""><%= result %></div>
                        <div class="editor-" data-target="result<%= num %>"></div>
                        <% num = num + 1 %>
                      <% end %>
                    <% end %>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div data-controller="comment">
            <%= form_for(@comment, url: board_card_comments_path(card_id: @card.id), remote: true) do |form| %>
              <div class="form-group">
                <%= form.text_area :content, 
                                    class: 'form-control', 
                                    data: {target: 'comment.content', 
                                            action: 'keyup->comment#check' } %>
                <%= form.submit "留言", id: 'submit-msg-card'%>
              </div>
              <div id='comment'>
                <% @comments.each do |comment|%>
                  <%= comment.content%>
                <% end%>
              </div>
            <% end %>
          </div>
        
        <div id="content-otheranswer" class="shadow border rounded mb-8">
          <div class="content-head border-b bg-gray-500 text-white py-2 font-bold rounded-t ">
            <p class="text-center">其他人的解</p>
          </div>

          <div class="content-body">

            <div class="w-full m-0 flex flex-wrap">
            
              <% @solved_records&.each do |record| %>
                <% unless record.user == current_user %>
                  <div class="border w-1/2 p-4 box-border">
                
                    <%= link_to profile_path(record.user) do %>
                      <%= email_account(record.user) %>
                    <% end %>

                    <%= link_to record_path(id: record.id), :class=> 'border-b py-2' do %>
                      <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    <% end %>
                    
                    <div class="editor-readonly whitespace-pre-line"><%= record.code %>
                    </div>
                    <!--
                    <div data-controller="comment">
                      <%= form_for(@comment, url: board_card_comments_path(card_id: @card.id), remote: true) do |form| %>
                        <div class="form-group">
                          <%= form.text_area :content, 
                                              class: 'form-control', 
                                              data: {target: 'comment.content', 
                                                      action: 'keyup->comment#check' } %>
                          <%= form.submit "留言", class: 'submit-msg-record'%>
                        </div>
                      <% end %> 
                    <div>
                      <div id='comment'>
                        <% @comments.each do |comment|%>
                          <%= comment.content%>
                        <% end%>
                    </div>              
                    -->
                  </div>
                <% end %>
              <% end %>

            </div>

          </div>

        </div>
      </div> 
    </div>
  </div>
