<p class="absolute right-0 text-xs text-gray-600">//解題者(已解題)-檢視頁面//</p>

<div class="flex container">
  
  <div class="part-slider w-1/4 border-r">
    <%= render "nav_cards_list", nowCard: @card.id  %>
  </div>

  <div class="part-card px-4 w-3/4">
    <%#= form_with model: @card, url: solve_board_card_path, method: :patch, local: true do |f| %>

    <%= form_with model: @record, url: solve_board_card_path, method: :patch, local: true do |f| %>
      <div class="shadow border rounded  py-3 my-3">
        <%= render "content_subject" %>
      </div>

      <div class="shadow border rounded my-5">
        <div class="mg-0 leading-loose border-b">
          <%= f.label :code, 'Your answer', class: 'block w-100 px-5 text-gray-600'%>
        </div>
        <div class="px-4 py-1 my-4">
          <%= f.hidden_field :code, id: "code" %>
          <div class="editor readonly" data-target="code"></div>
          <div class="">
          </div>
          
          <div>
            <p>測試方法</p>
            <% @card.test_code.each do |test_code| %>
              <p class="ml-5"><%= test_code %></p>
            <% end %>
          </div>
          <div>
            <p>結果</p>
            <% if @card.result %>
              <% @card.result.each do |result| %>
                <p class="ml-5"><%= result %></p>
              <% end %>
            <% end %>
          </div>

          <div>
            <P>看別人怎麼解</p>
                    <%# 多人的code%>

          </div>
          
          
        </div>
      </div>
      <!--之後編輯按鈕
      <div class="my-5">
        <%#= f.submit '送出',id: 'btn-card-submit', class: 'bg-blue-500 hover:bg-blue-700 text-white py-2 px-3 rounded my-5' %>
      </div>
      -->
    <% end %>
</div>