<p class="absolute right-0 text-xs text-gray-600">//解題者(已解題)-檢視頁面//</p>

<span id="board-lang" class="hidden"><%= @board.editor_mode %></span>

<style>
  #btn-del-test-code{display:none;}
  input[name^="card[test_code]"]{
      disabled: true;
      pointer-events: none;
  }

</style>

<%= form_with model: @record, url: solve_board_card_path, method: :patch, local: true do |f| %>

  <div id="page-show-solved" class="container-full">  

    <div id="part-borard-info" class="w-full">
        <%= render "cards/banner_board_info" %>
    </div>

    <div class="flex w-full">

      <div id="part-cards-list" class="w-1/4  m-0 pb-12 border-r">
        <%= render "cards/nav_cards_list",  nowCard: @card.id  %>
      </div>

      <div id="part-card-content" class="w-3/4 m-0 m-auto pb-12">

        <div id="content-subject" class="shadow border rounded mb-8">

          <div class="content-head border-b bg-gray-500 text-white py-2 font-bold rounded-t ">
            <p class="text-center">題目</p>
          </div>

          <div class="content-body p-5">

            <div class="w-full mb-4">
              <%= render "cards/content_subject" %>
              <div class="">
                <section class="text-gray-700 text-m font-bold mt-5 mb-3">
                  階段提示
                </section>
                  <div id="section-hints" class="">
                    <% if @card.hints %>
                      <input id="btn-show-hints" type="button" value="求提示(<%= @card.hints.length %>)" class="bg-orange-500 hover:bg-orange-700 text-white py-2 px-3 rounded my-5">
                      <ul>
                        <% @card.hints.each do |hints| %>
                          <li class="hint hidden"><%= hints %></li>
                        <% end %>
                      </ul>
                    <% else %>
                      <span class="cursor-not-allowed bg-gray-500 text-white py-2 px-3 rounded my-5">(無提示)</span> 
                    <% end %>
                  </div>
              </div>
            </div>

          </div>

        </div>

            <p>別人這樣解</p>
            <% @card.records.each do |record| %>
              <% unless record.user == current_user %>
                <p class="ml-5"><%= record.code %></p>
                <p class="ml-5"><%= record.user.email %></p>
              <% end %>
            <% end %>
      <!--之後編輯按鈕
      <div class="my-5">
        <%#= f.submit '送出',id: 'btn-card-submit', class: 'bg-blue-500 hover:bg-blue-700 text-white py-2 px-3 rounded my-5' %>
      </div>
      -->
    <% end %>
</div>
