
<span id="board-lang" class="hidden"><%= @board.editor_mode %></span>

<style>
  #btn-del-test-code{display:none;}
  input[name^="card[test_code]"]{
      disabled: true;
      pointer-events: none;
  }
  
</style>

<%= form_with model: @record, url: solve_board_card_path, method: :patch, local: true do |f| %>

  <div id="page-show-solving" class="container-full">  

    <div id="part-borard-info" class="w-full">
        <%= render "cards/banner_board_info" %>
    </div>

    <div class="flex w-full">

      <div id="part-cards-list" class="w-1/4  m-0 pb-12 border-r">
        <%= render "cards/nav_cards_list",  nowCard: @card.id  %>
      </div>

      <div id="part-card-content" class="w-3/4 m-0 m-auto pb-12">

        <div id="content-subject" class="shadow border rounded mb-8">
        
          <div class="content-head border-b bg-gray-500 text-white py-2 font-bold rounded-t ">
            <p class="text-center">題目</p>
          </div>

          <div class="content-body p-5">
          
            <div class="w-full mb-4">
              <%= render "cards/content_subject" %>
              <div class="">
                <section class="text-gray-700 text-m font-bold mt-5 mb-3">
                  提示
                </section>
                  <div id="section-hints" class="">
                    <% if @card.hints %>
                      <input id="btn-show-hints" type="button" value="求提示(<%= @card.hints.length %>)" class="bg-orange-500 hover:bg-orange-700 text-white py-2 px-3 rounded my-5">
                      <ul>
                        <% @card.hints.each do |hints| %>
                          <li class="hint hidden"><%= hints %></li>
                        <% end %>
                      </ul>
                    <% else %>
                      <span class="cursor-not-allowed bg-gray-500 text-white py-2 px-3 rounded my-5">(無提示)</span> 
                    <% end %>
                  </div>
              </div>
            </div>

          </div>

        </div>
      
        <div id="content-answer" class="shadow border rounded mb-8">
          <div class="content-head border-b bg-gray-500 text-white py-2 font-bold rounded-t ">
            <p class="text-center">作答</p>
          </div>

          <div class="content-body p-5">

            <div class="w-full mb-4">

              <div class="mg-0 leading-loose">
                <%= f.label :code, 'Your answer', class: 'block w-100 px-5 text-gray-600'%>
              </div>

              <div class="px-4 py-1 my-4">
                <%= f.hidden_field :code, id: "code" %>
                <div solving class="editor <%= "readonly" if user_authority == "guest" %>" data-target="code"></div>

              <% if user_authority != "guest" %>
                <div class="flex w-full">
                    <%= f.submit 'Run',id: 'btn-card-submit', class: 'm-auto bg-purple-500 hover:bg-purple-700 text-white py-2 px-3 rounded my-5' %>
                </div>
              <% end %>

              </div>
            </div>

            <div id="part-test-run">

              <% if user_authority != "guest" %>
                
                <div class="flex w-full px-4 py-1 my-2 -mt-1">
                  <section class="w1/2 m-auto mt-6">
                    <%= f.label :test_code, '測試方法 → 執行結果 ', class: 'uppercase tracking-wide text-gray-700 text-m font-bold mt-5 mb-3'%>
                  </section>
                </div>

                <div class="flex w-full mb-4 test-code-cover">

                  <div class="w-1/2">
                    <div id="section-test-code">         
                      <% num = 0 %>
                      <% @test_code.each do |test_code| %>
                        <% num = num + 1 %>
                        <%= render "cards/data_test_item", num: num ,test_code: test_code %>
                      <% end %>
                    </div>
                  </div>
                  
                  <div class="w-1/2">
                    <div id="run-result" class="">
                      <% num = 1 %>
                      <% @result.try(:each) do |result| %>
                        <div id="result<%= num %>" class=""><%= result %></div>
                        <div class="editor-" data-target="result<%= num %>"></div>
                        <% num = num + 1 %>
                      <% end %>
                    </div>
                  </div>

                </div>
              <% end %>
            </div>
          </div>
        </div> 

        <div class="flex my-6 pt-5 ">
          <% if user_authority == "guest" %>
            <%= link_to "作答", new_user_registration_path, class:"m-auto bg-purple-500 hover:bg-purple-700 text-white py-2 px-3 rounded my-5" %>
          <% else %>
            <%= f.submit '送出', class: 'm-auto mr-0 bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded'  %>
          <% end %>
        <div>

      </div>

    </div>

<% end %>
  
  




















