<h1 class="text-gray-900 font-bold text-xl border-b">編輯 Card</h1>

<%= form_with model: @card, url: board_card_path, method: :patch , local: true do |f| %>

  <% if @card.errors.any? %>
    <ul>
      <% @card.errors.full_messages.each do |message| %>
        <li class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert"><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  
  <div class="flex p-4">

    <div class="w-1/8">
      <!-- <%= f.label :order, '題序' , class: 'block uppercase tracking-wide text-gray-700 text-m font-bold mt-5 mb-3'%> -->
      <%= f.text_field :order,placeholder: '關卡', class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
    </div>

    <div class="w-2/8">
      <!-- <%= f.label :level, '難易度', class: 'block uppercase tracking-wide text-gray-700 text-m font-bold mt-5 mb-3'%> -->
      <%= f.text_field :level,placeholder: '難度', class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
    </div>

    <div class="w-full w-5/8">
      <!-- <%= f.label :title, '名稱', class: 'block uppercase tracking-wide text-gray-700 text-m font-bold mt-5 mb-3'%> -->
      <%= f.text_field :title,placeholder: '題目名稱', class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
    </div>
    
  </div>

  <div class="flex p-4">
    <!-- <%= f.label :tags, '標籤', class: ' uppercase tracking-wide text-gray-700 text-m font-bold mt-5 mb-3'%> -->
    <%= f.text_field :tags,placeholder: '標籤', class: 'mr-4 w-1/10 shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>

    <div class="w-9/10 w-full">
      <span class="bg-gray-300 hover:bg-gray-500 text-gray-700 font-semibold hover:text-white py-2 px-1 border border-gray-500 hover:border-transparent rounded">tag1<i class="fa fa-times"></i></span>
      <span class="bg-gray-300 hover:bg-gray-500 text-gray-700 font-semibold hover:text-white py-2 px-1 border border-gray-500 hover:border-transparent rounded">tag1<i class="fa fa-times"></i></span>
      <span class="bg-gray-300 hover:bg-gray-500 text-gray-700 font-semibold hover:text-white py-2 px-1 border border-gray-500 hover:border-transparent rounded">tag1<i class="fa fa-times"></i></span>
    </div>

  </div>

  <div class="flex mb-4">

    <div class="w-1/2 p-4">

      <div>
        <%= f.label :description, '題目敘述', class: 'block uppercase tracking-wide text-gray-700 text-m font-bold mt-5 mb-3'%>
        <%= f.text_area :description,placeholder: '題目敘述', class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
    


      </div>

      <div>
        <%= f.label :default_code, '預設程式碼', class: 'block uppercase tracking-wide text-gray-700 text-m font-bold mt-5 mb-3'%>
        <%= f.hidden_field :default_code, id: "default_code" %>
        <div class="editor" data-target="default_code"></div>
      </div>

      <div>
        <div id="section-hints">
          <section>
            <%= f.label :hints, '提示', class: 'uppercase tracking-wide text-gray-700 text-m font-bold mt-5 mb-3'%>
            <span id="btn-add-hints"><i class="fa fa-plus-circle hover:text-blue-700 text-blue-500 rounded-full text-2xl"></i></span>
          </section> 
          <% if @card.hints %>
            <% @card.hints.each do |hints| %>
              <input name="card[hints][]" value="<%= hints %>">
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    
    <div class="w-1/2 p-4">
      <div>
        <%= f.label :answer, '出題者解答', class: 'block uppercase tracking-wide text-gray-700 text-m font-bold mt-5 mb-3'%>
        <%= f.hidden_field :answer, id: "answer" %>
        <div class="editor" data-target="answer"></div>
        <div class="">
          <%= f.submit 'Run',id: 'btn-card-submit', class: 'bg-blue-500 hover:bg-blue-700 text-white py-2 px-3 rounded my-5' %>
          <div id="run-result" class="block min-h-2 px-3 py-2 text-white bg-black"><%= @result %></div>
        </div>
      </div>
      <div>
        <div id="section-test-code">
          <section>
            <%= f.label :test_code, '測試方法', class: 'uppercase tracking-wide text-gray-700 text-m font-bold mt-5 mb-3'%>
            <span id="btn-add-test-code"><i class="fa fa-plus-circle hover:text-blue-700 text-blue-500 rounded-full text-2xl"></i></span>
          </section>
          <% @card.test_code.each do |test_code| %>
            <input name="card[test_code][]" value="<%= test_code %>">
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= f.submit '送出',id: 'btn-card-submit', class: 'bg-blue-500 hover:bg-blue-700 text-white py-2 px-3 rounded my-5' %>

<% end %>
