<div class="container lg mx-auto my-12 px-4 md:px-12">
  <div class="flex flex-col">
    <div class="bg-white align-middle block min-w-full shadow overflow-hidden sm:rounded-lg ">
      <%= render "boards/index_tab" %>
      <nav class="bg-white mb-3">
        <div class="max-w-7xl  px-2 sm:px-4 lg:px-8">
        <%= search_form_for @q do |f| %>
          <div class="flex justify-between items-center h-16 ">
            <div class="flex-shrink-0 flex items-center">
              <div class="relative  border-none">
                <%= f.select :tags_contains_array,
                  [["標籤", ""], ["Algorithms", "Algorithms"], ["Arrays", "Arrays"],
                  ["Bionary", "Bionary"], ["Data_Structures", "Data_Structures"],
                  ["Strings", "Strings"],["Symbol", "Symbol"], ["Hash", "Hash"], ["Object","Object"],
                  ["Numbers", "Numbers"], ["Rules", "Rules"], ["Loops", "Loops"], ["Methods", "Methods"],
                  ["While", "While"], ["If...else", "If...else"], ["Lists", "Lists"]], 
                  {}, 
                  {
                    class: 'bg-white text-blue-500 appearance-none border inline-block py-3 pl-3 pr-8 rounded leading-tight w-full text-sm',
                    id: "tags"
                  }
                %>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2">
                  <%= render_svg 'icons/chevron-down' %>
                </div>      
              </div>
            </div>  
            <div class="flex-shrink-0 flex items-center">
              <div class="relative  border-none">
                <%= f.select :board_language_i_cont,
                  [["請選擇語言", ""], ["Ruby", "ruby"], ["Javascript", "javascript"], ["Python", "python"]], 
                  {}, 
                  {
                    class: 'bg-white text-blue-500 appearance-none border inline-block py-3 pl-3 pr-8 rounded leading-tight w-full text-sm',
                    id: "language"
                  }
                %>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2">
                  <%= render_svg 'icons/chevron-down' %>
                </div>      
              </div>
            </div>
            <div class="flex-shrink-0 flex items-center">
              <div class="relative  border-none">
                <%= f.select :level_cont,
                  [["難度", ""], ["簡單", "簡單"], ["中等", "中等"], ["困難", "困難"]], 
                  {}, 
                  {
                    class: 'bg-white text-blue-500 appearance-none border inline-block py-3 pl-3 pr-8 rounded leading-tight w-full text-sm',
                    id: "level"
                  }
                %>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2">
                  <%= render_svg 'icons/chevron-down' %>
                </div>      
              </div>
            </div>
          <% end %>
        </div>
      </nav>
      <hr>
      
      
      <div class="bg-white shadow overflow-hidden  sm:rounded-md">
        <ul>
          <li>
            <% order = 1 %>
            <% @cards.each do |card|%>
              <%= link_to board_card_path(board_id: card.board.id,id: card.id), class: "block hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out" do %>
                <div class="flex items-center px-4 py-4 sm:px-6">
                  <div class="min-w-0 flex-1 flex items-center">
                    <div class="flex-shrink-0">
                      <p class="text-3xl text-center align-center text-gray-500 h-12 w-12 ">
                        <% params[:page] = 1 if params[:page].nil? %>
                        <%= order + ((params[:page].to_i - 1) * 10)%>
                      </p>
                    </div>
                    <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-1 md:gap-4">
                      <div class="flex">
                        <div class="w-3/4">
                          <span class="mr-2 inline-flex items-center py-0.5 rounded-full text-sm font-medium leading-5 bg-<%= language_color(card.board.language) %>-100 text-<%= language_color(card.board.language) %>-800">
                            <%=  card.board.language %>
                          </span>
                          <div class="inline-flex">
                            <% if card.tags %>
                              <%  card.tags.each do |tag| %>
                                <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium leading-4 bg-green-100 text-green-800">
                                  <%= tag %>
                                </span>    
                              <% end %>
                            <% end %>
                          </div>
                          <div class="text-2xl w-full leading-5 text-blue-900">
                            <%= card.title %>
                          </div>
                        </div>
                        <div class="w-1/4 flex items-center justify-end">
                            <span class="text-sm leading-5 text-gray-500">
                              <%= card.board.title %>
                            </span>
                        </div>
                      </div>  
                    </div>
                    <div>
                      <%= render_svg 'icons/greater-than' %>
                    </div>
                  </div>
                </div>
                <% order = order + 1 %>  
              <% end %>
            <% end %>
          </li>  
        </ul>    
      </div>
      
      
      <hr>
      <nav class="bg-white px-4 py-3 flex items-center justify-between sm:px-6 sm:justify-end">
        <div class="flex-1 flex justify-between sm:justify-end">
          <%= link_to_prev_page @cards, '上一頁', class: 'relative inline-flex items-center px-4 py-2 border border-blue-300 text-sm leading-5 font-medium rounded-lg text-blue-700 bg-white hover:text-blue-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-blue-100 active:text-blue-700 transition ease-in-out duration-150' %>
          <%= link_to_next_page @cards, '下一頁', class: 'relative inline-flex items-center px-4 py-2 border border-blue-300 text-sm leading-5 font-medium rounded-lg text-blue-700 bg-white hover:text-blue-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-blue-100 active:text-blue-700 transition ease-in-out duration-150' %>
        </div>
      </nav>
    </div>
  </div>
</div>

<script>
  $('#level').on('change', function(){
    $('#card_search').submit()
  })

    $('#tags').on('change', function(){
    $('#card_search').submit()
  })

    $('#language').on('change', function(){
    $('#card_search').submit()
  })


</script>