<div class="container max-w-full my-12 mx-auto px-4 md:px-12">
  <div class="flex flex-col">
    <div class="bg-white align-middle block min-w-full shadow overflow-hidden sm:rounded-lg ">
      <%= render "boards/index_tab" %>
      <nav class="bg-white mb-3">
        <div class="max-w-7xl  px-2 sm:px-4 lg:px-8">
        <%= search_form_for @q do |f| %>
          <div class="flex justify-between items-center h-16 ">
            <div class="flex-shrink-0 flex items-center">
              <div class="relative  border-none">
                <%= f.select :tags_contains_array,
                  [["標籤", ""], ["array", "array"], ["object", "object"], ["number", "number"], ["string", "string"], ["if else", "if else"], ["while", "while"]], 
                  {}, 
                  {
                    class: 'bg-white text-blue-500 appearance-none border inline-block py-3 pl-3 pr-8 rounded leading-tight w-full text-sm',
                    id: "tags"
                  }
                %>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2">
                  <%= render_svg 'icons/chevron-down' %>
                </div>      
              </div>
            </div>  
            <div class="flex-shrink-0 flex items-center">
              <div class="relative  border-none">
                <%= f.select :board_language_i_cont,
                  [["請選擇語言", ""], ["Ruby", "ruby"], ["Javascript", "javascript"], ["Python", "python"]], 
                  {}, 
                  {
                    class: 'bg-white text-blue-500 appearance-none border inline-block py-3 pl-3 pr-8 rounded leading-tight w-full text-sm',
                    id: "language"
                  }
                %>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2">
                  <%= render_svg 'icons/chevron-down' %>
                </div>      
              </div>
            </div>
            <div class="flex-shrink-0 flex items-center">
              <div class="relative  border-none">
                <%= f.select :level_cont,
                  [["難度", ""], ["簡單", "簡單"], ["中等", "中等"], ["困難", "困難"]], 
                  {}, 
                  {
                    class: 'bg-white text-blue-500 appearance-none border inline-block py-3 pl-3 pr-8 rounded leading-tight w-full text-sm',
                    id: "level"
                  }
                %>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2">
                  <%= render_svg 'icons/chevron-down' %>
                </div>      
              </div>
            </div>
          <% end %>
        </div>
      </nav>
      <hr>
      <div class="flex flex-col">
        <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
          <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200 ">
            <% order = 1 %>
            <% @cards.each do |card|%>
              <%= link_to board_card_path(board_id: card.board.id,id: card.id), class: 'bg-white overflow-hidden shadow rounded-lg' do %>
                  <table class="min-w-full>
                    <tbody class="bg-white">
                      <tr>
                        <td class="px-6 py-4 whitespace-no-wrap border-b w-full border-gray-200">
                          <div class="flex items-center">
                            <div class="flex items-center justify-center h-10 w-10 ">
                              <p class="text-3xl text-center align-center text-gray-500">
                                <% params[:page] = 1 if params[:page].nil? %>
                                <%= order + ((params[:page].to_i - 1) * 6)%>
                              </p>
                            </div>
                            <div class="ml-4 flex-wrap justify-center">
                              <div class="flex justify-between items-center">
                                <div class="text-sm leading-5 font-medium text-gray-900">
                                  <% case card.board.language.downcase %>
                                  <% when "ruby"%>
                                    <% language_color = 'pink' %>
                                  <% when "javascript"%>
                                    <% language_color = 'yellow' %>
                                  <% when "python"%>
                                    <% language_color = 'blue' %>
                                  <% end %>
                                  <span class="inline-flex mr-4 items-center px-3 py-0.5 rounded-full text-sm font-medium leading-5 bg-<%= language_color %>-100 text-<%= language_color %>-800">
                                    <%=  card.board.language %>
                                  </span>
                                </div>
                              </div>
                              <div class="text-2xl w-full leading-5 text-blue-900">
                                <%= card.title %>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                          <div class="text-sm leading-5 text-gray-900">
                            <% if card.tags %>
                              <%  card.tags.each do |tag| %>
                                <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium leading-5 bg-blue-100 text-blue-800">
                                  <%= tag %>
                                </span>    
                              <% end %>
                            <% end %>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                <% order = order + 1 %>  
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <nav class="bg-gray-100 px-4 py-3 flex items-center justify-between sm:px-6 sm:justify-end">
        <div class="flex-1 flex justify-between sm:justify-end">
          <%= link_to_prev_page @cards, '上一頁', class: 'relative inline-flex items-center px-4 py-2 border border-blue-300 text-sm leading-5 font-medium rounded-lg text-blue-700 bg-white hover:text-blue-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-blue-100 active:text-blue-700 transition ease-in-out duration-150' %>
          <%= link_to_next_page @cards, '下一頁', class: 'relative inline-flex items-center px-4 py-2 border border-blue-300 text-sm leading-5 font-medium rounded-lg text-blue-700 bg-white hover:text-blue-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-blue-100 active:text-blue-700 transition ease-in-out duration-150' %>
        </div>
      </nav>
    </div>
  </div>
</div>

<script>
  $('#level').on('change', function(){
    $('#card_search').submit()
  })

    $('#tags').on('change', function(){
    $('#card_search').submit()
  })

    $('#language').on('change', function(){
    $('#card_search').submit()
  })


</script>