<!DOCTYPE html>
<html>
  <head>
    <title>{ CodeBoard }</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_pack_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag  'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body class= "font-sans leading-normal tracking-normal">

  <% flash.each do |type, message| %>
    <% if type == "alert" %>
      <div class="bg-red-500">
        <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans"><%= message %></div>
      </div>
    <% end %>
    <% if type == "notice" %>
      <div class="bg-green-500">
        <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans"><%= message %></div>
      </div>
    <% end %>
  <% end %>
  
  <nav id="nav" class="px-2 text-white flex items-center justify-between flex-wrap border-b border-gray-400">
    <div class="container lg m-auto flex">
      <div class="flex items-center flex-no-shrink mr-10">
        <%= link_to "{ CodeBoard }", root_path, class:"text-white hover:no-underline link border-b-2 border-transparent hover:border-indigo-400 text-xl tracking-tight font-semibold" %>
      </div>

      <div class="block lg:hidden">
        <button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-black hover:border-gray-800">
          <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
        </button>
      </div>

      <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block pt-6 lg:pt-0" id="nav-content">
        <div class="lg:flex-grow">
          <ul class="list-reset lg:flex justify-start flex-1 items-center">
            <li class="mr-3">
              <%= link_to "解題", boards_path, class: "hover:no-underline block border-b-2 border-transparent hover:border-indigo-400 mt-4 lg:inline-block lg:mt-0 lg:mr-4 mb-2 lg:mb-0 link" %>
            </li>
            <li class="mr-3">
              <%= link_to "出題", my_boards_path, class: "hover:no-underline block  border-b-2 border-transparent hover:border-indigo-400 mt-4 lg:inline-block lg:mt-0 lg:mr-4 mb-2 lg:mb-0 link" %>
            </li>
          </ul> 
        </div>
        
        <div class="w-full block lg:flex lg:flex-row lg:flex-1 mt-2 lg:mt-0 text-center lg:text-left lg:justify-end items-center">
          <% if user_signed_in? %>
            <%= link_to profile_path(current_user.id), :title => current_user.email do %>
              <%= image_tag(current_user.avatar_thumbnail) %>
            <% end %>

            <%= link_to "登出", destroy_user_session_path, method: :delete, class:"btn mb-2 lg:mr-2 lg:mb-0 block rounded text-white border-white-600" %>
            
          <% else %>
            <%= link_to "登入", new_user_session_path, class:"btn mb-2 lg:mr-2 lg:mb-0 block rounded text-text border-text hover:text-white hover:border-white" %>
            <%= link_to "註冊", new_user_registration_path, class:" btn mb-2 lg:mr-2 lg:mb-0 block rounded text-text border-text hover:text-white hover:border-white" %>
          <% end %>
        </div>  
      
      </div>  
    </div>    
  </nav>

  <script>
    //Javascript to toggle the menu
    document.getElementById('nav-toggle').onclick = function(){
      document.getElementById("nav-content").classList.toggle("hidden");
    }
  </script>

  <main class=" <%= "bg-white" if current_path_last_string == nil %>" >
    <div class="container lg m-auto px-2">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ace.js"></script>
  <script src="https://rawgithub.com/ajaxorg/ace-builds/master/src/ext-emmet.js"></script>
  <script src="https://rawgithub.com/nightwing/emmet-core/master/emmet.js"></script>

  </body>

</html>

